<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />

    <application
        android:name=".BaloApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreenTheme"
        tools:targetApi="34">
        <activity
            android:name=".client.clientorderstatus.detail.ClientOrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".client.clientorderstatus.ClientOrderStatusActivity"
            android:exported="false" />
        <activity
            android:name=".client.clientorder.ClientOrderActivity"
            android:exported="false" />
        <activity
            android:name=".client.clientAddress.newAddress.ClientChooseAddressActivity"
            android:exported="false" />
        <activity
            android:name=".client.clientAddress.newAddress.ClientNewAddressActivity"
            android:exported="false" />
        <activity
            android:name=".client.clientAddress.ClientAddressActivity"
            android:exported="false" />
        <activity
            android:name=".client.clientcart.ClientCartActivity"
            android:exported="false" />
        <activity
            android:name=".client.clientdetail.ClientDetailActivity"
            android:exported="false" />
        <activity
            android:name=".admin.managerproduct.choosebrand.AdminChooseBrandActivity"
            android:exported="false" />
        <activity
            android:name=".admin.managerproduct.detail.AdminDetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".admin.managerproduct.ManagerProductActivity"
            android:exported="false" />
        <activity
            android:name=".admin.managerbrand.AllBrandActivity"
            android:exported="false" />
        <activity
            android:name=".admin.managerbrand.AdminBrandActivity"
            android:exported="false" />
        <activity
            android:name=".shareview.forgotpass.UpdatePassword"
            android:exported="false" />
        <activity
            android:name=".admin.adminmain.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".client.clientmain.ClientMainActivity"
            android:exported="false" />
        <activity
            android:name=".shareview.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".client.clientsearch.ClientSearchActivity"
            android:exported="false" />
        <activity
            android:name=".shareview.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>